*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}
.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    color: #23424A;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
.btn:focus {
    opacity: .75; 
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 100%;
}
.head_color{
    color: #87629A;
}


.hero {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
}

.hero__text { 
    width: 62%;
}

.hero__img {
    width: 32%;
    align-self: flex-start;
}

.hero p {
    margin-bottom: 3em;
}
.section{
    background-color: white;
    margin-top: 3em;
}
.section__body{
    width: 60%;
}
.section__article__right{
    flex-direction: column;
    width: 35%;
    padding: 1em;
    color: white;
    text-align: center;
    background-color: #136C72;
}

.section__color__font{
    color:#3A3A3A;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}